# Python
__pycache__/
*.py[cod]

# Virtual environment
.ai_text_detector/
venv/
.env/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Hugging Face models/cache
.cache/
huggingface/
*.bin
*.safetensors
*.pt

# IDE
.idea/
.vscode/

# Jupyter file
preprocessing.ipynb

# Model files
model/

# Dataset files
data/

# Log files
logs/